@media only screen { 
  section.inicio p {
    font-size: 18px;
  }

  #fb-plugin {
    width: 270px;
  }
}

@media only screen and (min-width: 40.063em) { 
  div.info-empresa {
    min-height: 315px;
  }
}

@media only screen and (min-width: 64.063em) { 
  section.inicio p {
    font-size: 25px;
  }
}
