@import 'responsive';

@font-face {
  font-family: 'Alef';
  src: url('/fonts/Alef/Alef-Regular.ttf');
}

body, h1, h2, a {
  font-family: 'Alef', sans-serif;
  font-weight: 400;
}

header.main { background-color: rgba(255,255,255,1); }

section.inicio {
  color: rgba(5,59,24,1);
  background-color: rgba(63,181,106,1);
  padding-bottom: 30px;

  h1 { color: inherit; }
  img, p.main-text { margin-bottom: 50px; }
}

section.servicos {
  color: rgba(5,59,24,1);
  background-color: rgba(224, 255, 236, 1);
  padding-bottom: 30px;

  h1, h2 { color: inherit; }
  img { margin-top: 30px; }
}

.barra-nav {
  background-color: rgba(5,59,24,1);
}

section.contato {
  background-color: rgba(5,59,24,1);
  padding-bottom: 30px;
  color: rgba(224, 255, 236, 1);

  h1, label { color: inherit; }
}

h1.subtitulo {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 15px;
}

img.center,
#fb-plugin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.info-empresa {
  background-color: rgba(5,59,24,1);
  padding: 15px;
  margin-bottom: 15px;
  color: rgba(224, 255, 236, 1);

  h2 { color: inherit; }
  p { font-size: 14px; }
}

dd.main-link {
  a {
    font-size: 1.5em;
    color: rgba(224, 255, 236, 1);

    &:hover { color: rgba(63,181,106,1); }
  }
  &.active {
    line-height: inherit !important;

    a, a:hover {
      background-color: rgba(63,181,106,1);
      color: rgba(0,0,0,1);
    }
  }
}

#enviar-email[disabled]:hover {
  background-color: rgba(63,181,106,1);
  color: rgba(0,0,0,1);
}

#enviar-email {
  margin-bottom: 50px;
  background-color: rgba(63,181,106,1);
  color: rgba(0,0,0,1);

  &:focus, &:hover {
    background-color: rgba(63,181,106,0.5);
    color: rgba(224, 255, 236, 1);
  }
}

footer  {
  img { margin-bottom: 30px; }
  p.dev {
    font-size: 12px;
    a { color: rgba(63,181,106,1); }
    a:hover { opacity: 0.5; }
  }
}

#email-texto { min-height: 100px; }

#msg-email-container {
  display: none;
  position: fixed;
  top: 60px;
  z-index: 1;
  width: 100%;

  .alert-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#loading-spin {
  display:none;
  position: absolute;
  top: 0px;
}

#message { display: none; }
