@import 'responsive';

$primary-color: rgba(5,59,24,1);
$secondary-color: rgba(224, 255, 236, 1);
$tertiary-color: rgba(63,181,106,1);

@mixin elem-colors($bg-color: $tertiary-color, $font-color: $secondary-color) {
  background-color: $bg-color;
  color: $font-color;
}

@mixin section($bg-color: $tertiary-color, $font-color: $secondary-color) {
  @include elem-colors($bg-color, $font-color);
  padding-bottom: 30px;
  h1 { color: inherit; }
}

%block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'Alef';
  src: url('/fonts/Alef/Alef-Regular.ttf');
}

body, h1, h2, a {
  font-family: 'Alef', sans-serif;
  font-weight: 400;
}

header.main { background-color: white; }

section.inicio {
  @include section($font-color: $primary-color);
  img, p.main-text { margin-bottom: 50px; }
}

section.servicos {
  @include section($bg-color: $secondary-color, $font-color: $primary-color);
  h2 { color: inherit; }
  img { margin-top: 30px; }
}

section.contato {
  @include section($bg-color: $primary-color);
  label { color: inherit; }
}

.barra-nav { background-color: $primary-color; }

h1.subtitulo {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 15px;
}

img.center, #fb-plugin { @extend %block-centered; }

div.info-empresa {
  @include elem-colors($bg-color: $primary-color);
  padding: 15px;
  margin-bottom: 15px;

  h2 { color: inherit; }
  p { font-size: 14px; }
}

dd.main-link {
  a {
    font-size: 1.5em;
    color: $secondary-color;

    &:hover { color: $tertiary-color; }
  }
  &.active {
    line-height: inherit !important;

    a, a:hover {
      @include elem-colors($font-color: black);
    }
  }
}

#enviar-email[disabled]:hover { @include elem-colors($font-color: black); }

#enviar-email {
  @include elem-colors($font-color: black);
  margin-bottom: 50px;

  &:focus, &:hover {
    @include elem-colors($bg-color: rgba(63,181,106,0.5));
  }
}

footer img { margin-bottom: 30px; }

p.dev {
  font-size: 12px;
  a { color: $tertiary-color; }
  a:hover { opacity: 0.5; }
}

#email-texto { min-height: 100px; }

#msg-email-container {
  display: none;
  position: fixed;
  top: 60px;
  z-index: 1;
  width: 100%;

  .alert-box {
    @extend %block-centered;
    width: 80%;
  }
}

#loading-spin {
  display: none;
  position: absolute;
  top: 0px;
}

#message { display: none; }
