<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Seg Consultoria</title>
    <link rel="stylesheet" href="foundation/css/normalize.css">
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/techseg.css">
    <script src="foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <header class="small-12 columns main">
      <img src="img/logo.png" class="center" alt="" />
    </header>
    <div class="small-12 columns" data-magellan-expedition="fixed">
      <div class="row">
        <div class="small-3 small-centered columns">
          <dl class="sub-nav">
            <dd data-magellan-arrival="inicio"><a href="#inicio">Início</a></dd>
            <dd data-magellan-arrival="servicos"><a href="#servicos">Serviços</a></dd>
            <dd data-magellan-arrival="contato"><a href="#contato">Contato</a></dd>
          </dl>
        </div>
      </div>
    </div>

    <section class="small-12 columns">
      <section class="row">
        <a name="inicio"></a>
        <h3 data-magellan-destination="inicio">A TechSeg</h3>
        <section class="small-4 columns">
          <img src="img/Workers-FULL.jpg" alt="" />
        </section>
        <section class="small-8 columns">
          <p class="text-justify">A Techseg Consultoria em Meio Ambiente e Segurança do Trabalho (TechSeg) é uma empresa que oferece soluções em segurança do trabalho com qualidade autêntica, sendo assim o melhor investimento para sua empresa. Com o TechSeg, você fornece mais segurança e saúde aos seus funcionários, aumenta a sua economia e a sua produtividade. Sustentamos a nossa competitividade e afirmamos a nossa presença no mercado através do desenvolvimento de soluções de engenharia eficazes e adequadas às necessidades dos nossos clientes.</p>
        </section>
      </section>

      <section class="row">
        <article class="small-4 columns">
          <header><h4>Visão</h4></header>
          <p class="text-justify">Entender claramente as necessidades dos clientes e fornecer serviços que atendam essas necessidades. Acreditamos que bons ambientes de trabalho permitem a troca de conhecimento e o reconhecimento de todos os participantes.</p>
        </article>
        <article class="small-4 columns">
          <header><h4>Missão</h4></header>
          <p class="text-justify">Ser uma empresa prestadora de serviços de consultoria reconhecida pelo mercado, pelos clientes e pelos colaboradores como uma empresa sólida, ética, competente e que agrega valor ao negócio do cliente, contribuindo também para o crescimento individual de cada colaborador.</p>
        </article>
        <article class="small-4 columns">
          <header><h4>Valores</h4></header>
          <p class="text-justify">Preocupação com as necessidades dos clientes. Empenho na aplicação da metodologia de trabalho da empresa com alta qualidade de serviço. Preocupação com a manutenção de um ambiente de trabalho que garanta o bem estar e o reconhecimento de todos. Investimento em formação e qualificação dos profissionais.</p>
        </article>
      </section>
    </section>

    <section class="small-12 columns">
      <section class="row">
        <a name="servicos"></a>
        <h3 data-magellan-destination="servicos">Serviços</h3>
      </section>
    </section>

    <section class="small-12 columns">
      <section class="row">
        <a name="contato"></a>
        <h3 data-magellan-destination="contato">Contato</h3>
      </section>
    </section>

    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.js"></script>
    <script src="foundation/js/foundation/foundation.magellan.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
